body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./DonutsBackground.png');
}

.container {
    text-align: center;
    width: 90%; /* Change to a percentage width */
    max-width: 80%; /* Add a max-width to prevent content from stretching too much */
    position: relative;
    margin: auto; /* Center the container horizontally */
}

.shows-per-click {
    position: absolute; /* Position the element relative to its closest positioned ancestor */
    top: 20px; /* Adjust top position as needed */
    right: 30px; /* Adjust right position as needed */
    font-size: 16px;
    color: #ffffff;
}

h1 {
    font-size: 70px;
    color: #ffffff;
}

#clickButton{
    font-size: 30px;
    font-weight: bold;
}

.score {
    font-size: 24px;
    color: #ffffff;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* Shop */

.shop {
    margin-top: 50px;
}

.shop h2 {
    font-size: 30px;
    color: #ffffff;
}

.shop button {
    width: 300px;
    padding: 10px 10px;
    margin: 10px 10px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.shop button:hover {
    background-color: #45a049;
}

#upgrades {
    display: inline-block;
}

.shop h3 {
    margin: 0.5em;
    font-size: 20px;
    color: rgb(255, 255, 255);
}